@charset "utf-8";
body {
    background-image: url(../Images/siteBackgroud.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body header {
    text-align: center;
    font-family: iceberg;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    margin-top: 1em;
    color: #000000;
    text-decoration: none;
}
header a h3 {
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.25em;
}
body header a {
    text-decoration: none;
}
body nav {
    font-family: iceberg;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    font-size: large;
    color: #48A1AF;
    font-weight: bold;
    margin-left: 10em;
    background-color: #000000;
    margin-right: 10em;
}
body nav a {
    text-decoration: none;
    color: #48A1AF;
}
.navHome {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
body div {
    color: #000000;
    font-family: iceberg;
    font-style: normal;
    font-weight: 400;
    font-size: large;
    margin-left: 10em;
    margin-right: 10em;
}
.navHome:hover {
    color: #FFFFFF;
}
body footer {
    text-align: center;
    font-family: iceberg;
    font-style: normal;
    font-weight: 400;
    font-size: small;
    margin-top: 4em;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../Images/loader.gif) center no-repeat #fff;
    background-size: cover;
}
.button {
    color: #48A1AF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: iceberg;
    font-style: normal;
    font-weight: 400;
}
.graphs {
    margin-left: -500px;
    padding: 0px;
}
.ibk {
    margin-right: 300px;
}
.sectionLeft {
    margin-left: -150px;
    margin-right: 300px;
    padding: 0px;
    clear: left;
    float: left;
}
.sectionRight {
    margin-left: -150px;
    padding: 0px;
    clear: right;
    float: right;
}
.sectionBottom {
    clear: both;
    margin-top: 3em;
}